<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Software Engineer</h1>
                <h5>Coding Enthusiast with experience in Android Development and with strong Data Structures and Algorithms</h5>			
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.jpeg" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->