<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Android Developer</h1>
                <h4>at Witworks Consumer Technologies</h4>
                <h3>Coding Enthusiast with strong Data Structures and Algorithms</h3>			
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.jpeg" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->