<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Software Engineer</h1>
                <h4>at intive GmbH</h4>
                <h3>Coding and AI enthusiast with experience in Android Development having strong Data Structure and Algorithm skills</h3>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.jpeg" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->